@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RaisonneDemibold';
    src: url('/src/assets/font/raisonne-demibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }